
@{
    ViewBag.Title = "AboutUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action=”/Student/Register” method=”post” >
    Tên <input name=”Tên” /> <br />
    Gmail <input name=”Gmail” /><br />
    Số Điện Thoại <input name=”Phone ” />
    
</form>

