@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Quản trị viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trang chủ Admin</h2>
<h1 style="font-family:VT323;color : rgb(250, 0, 255)">Chin Xào @User.Identity.GetUserName()</h1>

