@{
    ViewBag.Title = "About";
}
<<div class="container">
    <div class="row">
        <div class="col-12">
            <video muted="muted" loop="loop" autoplay="" preload="auto" poster="" class="fill ux-banner-video hide-for-small" style=padding: 20px 0px 0px">
                <source type="video/mp4" src="~/Content/IMG/demo.m4v">
            </video>
        </div>
    </div>
</div>
<div class="container" style=" margin: 50px 0px 25px 0px;">
    <div class="row">
        <div class="col-6">
            <img style=" width: 100%" src="~/Content/IMG/About1.png" />
        </div>
        <div class="col-6">
            <h1 style="font-family : VT323 ;Color : red;">Chào mừng các bạn đến với BTI Việt Nam – Học Tiếng Anh Trực Tuyến!</h1>
            <h2 style="font-size:20px;">
                BTI là Trung tâm đào tạo tiếng Anh trực tuyến. Đây là một trong những Trung Tâm đào tạo Tiếng Anh Trực Tuyến đầu tiên tại Việt Nam áp dụng mô hình dạy và học 1 Thầy – 1 Trò. Được thành lập từ 10/2012 đến nay,BTI VN đã thu hút hơn 10.000 học viên trên khắp cả nước theo học để nâng cao trình độ tiếng Anh của mình.
                Các khoá học của BTI VN tập trung phát triển và nâng cao kĩ năng giao tiếp trong công việc cho người đi làm, cũng như giúp luyện kĩ năng cho các bạn học sinh - sinh viên đang có nhu cầu tham dự các kì thi chứng chỉ như IELTS, TOIEC, TOEFL...
                Chúng tôi đồng thời cung cấp các khoá đào tạo tiếng Anh cho các Doanh nghiệp tại Việt Nam. Nhiều khách hàng là các tập đoàn, doanh nghiệp lớn đã tin tưởng lựa chọn BTI VN là đối tác đào tạo chính: tập đoàn Dầu khí Việt Nam, tập đoàn FPT, Harvey Nash Vietnam, PepsiCo,...
            </h2>
        </div>
    </div>
</div>
<div class="container" style=" margin: 50px 0px 25px 0px;">
    <div class="row">
        <div class="col-6">
            <h1 style="font-family : VT323 ;Color : red;">Cùng BTI nói tiếng Anh lưu loát sau 30 ngày</h1>
            <h2 style="font-size:20px;">
                Bạn đã từng mong ước được nói tiếng Anh với người nước ngoài trôi chảy như bạn bè, đồng nghiệp. Thế nhưng bạn không đủ tự tin mỗi khi giao tiếp với họ.
                Đừng ao ước vì bản thân bạn có thể làm được điều đó, có thể bấy lâu nay bạn chưa tìm được phương pháp học đúng và phù hợp với bạn mà thôi. Hãy thử ngay phương pháp học mới “ 1 Thầy - 1 Trò” dưới
                sự giảng dạy tận tình, chu đáo của tất cả các giáo viên tại BTI, chỉ sau 30 ngày bạn đã có thể tự tin giao tiếp tiếng Anh với người nước ngoài.
            </h2>
        </div>
        <div class="col-6">
            <img style="width : 100%" src="~/Content/IMG/About2.png" />
        </div>
    </div>
</div>
<div class="container" style=" margin: 50px 0px 25px 0px;">
    <div class="row">
        <div class="col-6">
            <img style=" width : 100%" src="~/Content/IMG/About3.png" />
        </div>
        <div class="col-6">
            <h1 style="font-family : VT323 ;Color : red;">Điều gì làm cho Giáo viên của BTI trở nên nổi bật?</h1>
            <h2 style="font-size:20px;">
                Tất cả giáo viên tại BTI đều tốt nghiệp từ những trường đại học danh tiếng, có kinh nghiệm giảng dạy, được BTI đào tạo và đánh giá thường xuyên.
                Và chỉ 5% số ứng viên được tuyển chọn làm giáo viên của BTI.
                Với khẩu hiệu “Success is within your reach”, BTI luôn luôn nỗ lực và cam kết đem đến chất lượng đào tạo tốt nhất cho tất cả học viên!
            </h2>
        </div>
    </div>
</div>
