@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="bg-secondary w">
    <h2 >
        WELCOME TO ENGLISH CENTER
    </h2>
    <h1 class="text-danger text-md-3">BURN THE ICE</h1>
</div>
<div>

</div>
</body>

