@{
    ViewBag.Title = "WEllCOME TO BTI";
}
<div>
    <div>
        <img src="~/Content/IMG/text home d1.png" />
    </div>
    <div>
        <h1 style="text-align: center; font-size: 25px; color: rgb(145, 254, 255); font-family: Bradley Hand ITC ; ">ƯU ĐIỂM KHI HỌC ANH VĂN TẠI BTI</h1>
        <h2 style="font-size: 20px; text-align: center; color: rgb(51, 204, 255);">
            Các chương trình đào tạo tiếng Anh trực tuyến tại BTI đều được các chuyên gia thiết kế theo một lộ trình khoa học <br />, giúp học viên nhanh chóng lấy nền tảng vốn tiếng Anh,
            cũng như nâng cao khả năng giao tiếp. Học viên hòa toàn có thể <br /> tự tin nói tiếng Anh lưu loát sau 1 khóa học tại BTI..
        </h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img style="width:80px; margin: 0px 20px 0px 160px;" src="~/Content/IMG/img home/icon-time2.png" />
                    <h1 style="text-align: center; font-size: 25px; color: rgb(145, 254, 255); font-family: Bradley Hand ITC ; ">CHỦ ĐỘNG THỜI GIAN</h1>
                    <h2 style="font-size: 20px; text-align: center; color: rgb(51, 204, 255);">
                        Chỉ cần máy tính, smartphone <br /> hoặc máy tính bảng có kết nối internet,<br /> Bạn có thể học tiếng Anh với Giáo viên BTI <br /> ở bất cứ nơi đâu, bất cứ khi nào
                    </h2>
                </div>
                <div class="col-lg-4">
                    <img style="width:80px; margin: 0px 20px 0px 160px;" src="~/Content/IMG/img home/icon-teacher.png" />
                    <h1 style="text-align: center; font-size: 25px; color: rgb(145, 254, 255); font-family: Bradley Hand ITC ; ">PHƯƠNG PHÁP 1 - 1</h1>
                    <h2 style="font-size: 20px; text-align: center; color: rgb(51, 204, 255);">
                        Mỗi học viên sẽ học với một <br />giáo viên, tương tác 2 chiều<br /> suốt buổi học,
                        giáo viên sẽ <br />theo sát trình độ của học viên <br />để giúp học viên tiến bộ cực nhanh.
                    </h2>
                </div>
                <div class="col-lg-4">
                    <img style="width:80px; margin: 0px 20px 0px 160px;" src="~/Content/IMG/img home/icon-good.png" />
                    <h1 style="text-align: center; font-size: 25px; color: rgb(145, 254, 255); font-family: Bradley Hand ITC ; ">TIẾT KIỆM - HIỆU QUẢ</h1>
                    <h2 style="font-size: 20px; text-align: center; color: rgb(51, 204, 255);">
                        Với 100% giáo viên nước ngoài <br />sẽ giúp bạn luyện phát âm <br />chuẩn quốc tế.
                        Học viên có<br />thể chọn gói học theo ngân <br />sách của mình và hủy lịch học <br />không bị mất phí
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div style="margin:50px 10px 50px 10px">
        <div class="container">
            <div class="row">
                <div class="col-lg-3" style="background-color: white;margin : 10px 75px 10px 0px;">
                    <img style="width:70%; margin: 0px 20px 10px 60px;" src="~/Content/IMG/img home/english-communication.jpg" />
                    <h1 style="text-align: center; font-size: 25px; color: black; font-family: Bradley Hand ITC ; ">TIẾNG ANH GIAO TIẾP</h1>
                    <h2 style="font-size: 20px; text-align: center; color: black;">
                        Khi tham gia chương trình anh văn giao tiếp học viên sẽ được cung...
                    </h2>
                    <h1 class="btn btn-primary" href="#">Xem Chi Tiết</h1>
                </div>

                <div class="col-lg-3" style="background-color: white; margin : 10px 75px 10px 75px;">
                    <img style="width:75%; margin: 0px 20px 10px 60px;" src="~/Content/IMG/img home/koliqicu.jpg" />
                    <h1 style="text-align: center; font-size: 25px; color: black; font-family: Bradley Hand ITC ; ">TIẾNG ANH CHO TRẺ EM</h1>
                    <h2 style="font-size: 20px; text-align: center; color: black;">
                        Hàng triệu trẻ em trên thế giới đã học nói tiếng Anh thông qua...
                    </h2>
                    <h1 class="btn btn-primary" href="#">Xem Chi Tiết</h1>
                </div>
                <div class="col-lg-3" style="background-color: white; margin: 10px 0px 10px 75px;">
                    <img style="width:70%; margin: 0px 20px 10px 60px;" src="~/Content/IMG/img home/luyen-thi-ielts.jpg" />
                    <h1 style="text-align: center; font-size: 25px; color: black; font-family: Bradley Hand ITC ; ">TIẾNG ANH LUYỆN THI IELTS</h1>
                    <h2 style="font-size: 20px; text-align: center; color: black;">
                        IELTS (International English Language Testing System) là chứng chỉ được...
                    </h2>
                    <h1 class="btn btn-primary" href="#">Xem Chi Tiết</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3" style="background-color: white;margin : 10px 75px 10px 0px;">
                    <img style="width:70%; margin: 0px 20px 10px 60px;" src="~/Content/IMG/img home/Training_2.jpg" />
                    <h1 style="text-align: center; font-size: 25px; color: black; font-family: Bradley Hand ITC ; ">TIẾNG ANH THƯƠNG MẠI</h1>
                    <h2 style="font-size: 20px; text-align: center; color: black;">
                        Khóa học tiếng Anh thương mại được thiết kế đặc biệt tập...
                    </h2>
                    <h1 class="btn btn-primary" href="#">Xem Chi Tiết</h1>
                </div>

                <div class="col-lg-3" style="background-color: white; margin : 10px 75px 10px 75px;">
                    <img style="width:75%; margin: 0px 20px 10px 60px;" src="~/Content/IMG/img home/topic.jpg" />
                    <h1 style="text-align: center; font-size: 25px; color: black; font-family: Bradley Hand ITC ; ">TIẾNG ANH CHO DOANH NGHIỆP</h1>
                    <h2 style="font-size: 20px; text-align: center; color: black;">
                        Khóa học tiếng Anh cho doanh nghiệp thiết kế dựa trên các tình h...
                    </h2>
                    <h1 class="btn btn-primary" href="#">Xem Chi Tiết</h1>
                </div>
                <div class="col-lg-3" style="background-color: white; margin: 10px 0px 10px 75px;">
                    <img style="width:70%; margin: 0px 20px 10px 60px;" src="~/Content/IMG/img home/tieng-anh-phong-van copy.jpg" />
                    <h1 style="text-align: center; font-size: 25px; color: black; font-family: Bradley Hand ITC ; ">TIẾNG ANH PHỎNG VẤN</h1>
                    <h2 style="font-size: 20px; text-align: center; color: black;">
                        Khóa học này được thiết kế dành riêng cho những ai muốn làm...
                    </h2>
                    <h1 class="btn btn-primary" href="#">Xem Chi Tiết</h1>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 50px 10px 10px 10px">
        <h1 style="text-align: center; font-size: 25px; color: rgb(145, 254, 255); font-family: Bradley Hand ITC ; ">LỚP HỌC MẪU TẠI E-SPACE</h1>
        <h2 style="text-align: center; font-size: 25px; color: rgb(145, 254, 255); font-family: 'Times New Roman' ; ">
            Video clip các khóa học thực tế<br /> giữa học viên và giáo viên
        </h2>

        <div class="container">
            <h2 class="block-title" style="color: rgb(145, 254, 255);">Lớp học mẫu tại BTI</h2>
            <div class="description" style="color: rgb(145, 254, 255);">
                Video clip các khóa học thực tế<br>
                giữa học viên và giáo viên
            </div>

            <div class="video-list">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/elCGAxYcGXY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        </div>
                        <div class="title" style="color: rgb(145, 254, 255);">Lớp học mẫu thiếu nhi</div>
                        <div class="description" style="color: rgb(145, 254, 255);">Video clip chương trình tiếng Anh thiếu nhi của các học viên BTI với giáo viên: các khóa luyện phát âm, giao tiếp, luyện thi chứng chỉ PET, KET, Starters, Movers, Flyers,..</div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/7rURz1kf4P4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        </div>
                        <div class="title" style="color: rgb(145, 254, 255);">Lớp học mẫu người lớn</div>
                        <div class="description" style="color: rgb(145, 254, 255);">Video clip chương trình tiếng anh cho người lớn của các học viên BTI với giáo viên: các khóa tiếng Anh giao tiếp, tiếng Anh thương mại, luyện thi chứng chỉ: IELTS, TOEFL,..</div>
                    </div>
                </div>
            </div>
            <a style="text-align: center; color: rgb(145, 254, 255);" href="/lop-hoc-mau" class="button-style01 more-classes">Xem thêm</a>
        </div>
    </div>
</div>