@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center text-white" style="font-family :VT323;font-size : 75px">
        Welcome to Burn The Ice
        <br />English Center
    </h1>
</div>
