
@{
    ViewBag.Title = "Học Phí";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div style="margin: 50px 50px 50px 50px;">
        <h1 style="text-align: center; font-size: 25px; color: rgb(145, 254, 255); font-family: Bradley Hand ITC ; ">GÓI HỌC 1 THẦY -1 TRÒ VỚI GIÁO VIÊN CHÂU Á</h1>
        <h2 style="font-size: 20px; text-align: center; color: rgb(51, 204, 255);">Giáo viên Châu Á: Philippines, Ấn Độ, Thái Lan, Việt Nam...</h2>
    </div>
    <div style="margin: 50px 50px 50px 50px;">
        <table style="width:100%">
            <tr>
                <th>Tên</th>
                <th>Thời gian</th>
                <th>Số tiết</th>
                <th>Hạn SD</th>
                <th>Số tiền</th>
            </tr>
            <tr>
                <td>Loại 1</td>
                <td>25 PHÚT/TIẾT HỌC</td>
                <td>20</td>
                <td>120 ngày</td>
                <td>1,950,000 VNĐ / 1 người</td>
            </tr>
            <tr>
                <td>Loại 1</td>
                <td>25 PHÚT/TIẾT HỌC</td>
                <td>40</td>
                <td>240 ngày</td>
                <td>3,650,000 VNĐ / 1 người</td>
            </tr>
            <tr>
                <td>Loại 2</td>
                <td>50 PHÚT/TIẾT HỌC</td>
                <td>40</td>
                <td>140 ngày</td>
                <td>3,550,000 VNĐ / 1 người</td>
            </tr>
        </table>
    </div>

    <div style="margin: 50px 50px 50px 50px;">
        <h1 style="text-align: center; font-size: 25px; color: rgb(145, 254, 255); font-family: Bradley Hand ITC ; ">GÓI HỌC 1 THẦY - 1 TRÒ VỚI GIÁO VIÊN BẢN NGỮ</h1>
        <h2 style="font-size: 20px; text-align: center; color: rgb(51, 204, 255);">Giáo viên Bản Ngữ: Anh, Mỹ, Úc, New Zealand...</h2>
    </div>
    <div style="margin: 50px 50px 50px 50px;">
        <table style="width:100%">
            <tr>
                <th>Tên</th>
                <th>Thời gian</th>
                <th>Số tiết</th>
                <th>Hạn SD</th>
                <th>Số tiền</th>
            </tr>
            <tr>
                <td>Loại 1</td>
                <td>25 PHÚT/TIẾT HỌC</td>
                <td>20</td>
                <td>120 ngày</td>
                <td>4,485,000 VNĐ / 1người</td>
            </tr>
            <tr>
                <td>Loại 1</td>
                <td>25 PHÚT/TIẾT HỌC</td>
                <td>40</td>
                <td>240 ngày</td>
                <td>8,290,000 VNĐ / 1người</td>
            </tr>
            <tr>
                <td>Loại 2</td>
                <td>50 PHÚT/TIẾT HỌC</td>
                <td>40</td>
                <td>140 ngày</td>
                <td>8,150,000 VNĐ / 1người</td>
            </tr>
        </table>
    </div>
</div>

