
@{
    ViewBag.Title = "GiaoAn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class=" text-warning">Giáo Án</h2> 
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <table class="table">

                <tr>
                    <th>Cấp độ</th>
                    <th>Kĩ Năng</th>
                    <th>Nội dung</th>
                </tr>
                <tr>
                    <td>TOEIC 300-400</td>
                    <td>Reading <br /> Writting</td>
                    <td>
                        <a class="btn-info" href="https://docs.google.com/document/d/1Lbpfn9EhfPhPpml-1xJpt1GTvp5AdI-3rsNQ5GLy8rE/edit?usp=sharing">
                            File
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>TOEIC 500-650</td>
                    <td>Reading <br /> Writting</td>
                    <td>
                        <a class="btn-info" href="https://docs.google.com/document/d/1Lbpfn9EhfPhPpml-1xJpt1GTvp5AdI-3rsNQ5GLy8rE/edit?usp=sharing">
                            File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>IETLS 5.5-6.0</td>
                    <td>Reading <br /> Writting <br />Listening <br />Speaking</td>
                    <td>
                        <a class="btn-info" href="https://docs.google.com/document/d/1Lbpfn9EhfPhPpml-1xJpt1GTvp5AdI-3rsNQ5GLy8rE/edit?usp=sharing">
                            File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>TOEIC 6.5-7.0</td>
                    <td>Reading <br /> Writting <br />Listening <br />Speaking</td>
                    <td>
                        <a class="btn-info" href="https://docs.google.com/document/d/1Lbpfn9EhfPhPpml-1xJpt1GTvp5AdI-3rsNQ5GLy8rE/edit?usp=sharing">
                            File
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
    
</div>

