
@{
    ViewBag.Title = "IndexTeacher";
    Layout = "~/Views/Shared/_Layout teacher.cshtml";
}

<h2 class="text-center text-white">Công Việc</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <table class="table">
                <tr>
                    <th>Ngày</th>
                    <th>Lớp</th>
                    <th>Ghi Chú</th>
                    <th> Link Lớp Học</th>
                </tr>
                <tr>
                    <td>@DateTime.Now </td>
                    <td>19DTHC3</td>
                    <td>
                        <a class="btn-info" href="https://docs.google.com/document/d/1Lbpfn9EhfPhPpml-1xJpt1GTvp5AdI-3rsNQ5GLy8rE/edit?usp=sharing">
                            Lịch  
                        </a>
                    </td>
                    <td>
                        <a class="btn-warning" href="https://meet.google.com/bos-hdph-cqj">Link</a>
                    </td>
                </tr>
                <tr>
                    <td>@DateTime.Now </td>
                    <td>20DTHS3</td>
                    <td>
                        <a class="btn-info" href="https://docs.google.com/document/d/1Lbpfn9EhfPhPpml-1xJpt1GTvp5AdI-3rsNQ5GLy8rE/edit?usp=sharing">
                            Lịch
                        </a>
                    </td>
                    <td>
                        <a class="btn-warning" href="https://meet.google.com/bos-hdph-cqj">Link</a>
                    </td>
                </tr>
                <tr>
                    <td>@DateTime.Now </td>
                    <td>17DTHG3</td>
                    <td>
                        <a class="btn-info" href="https://docs.google.com/document/d/1Lbpfn9EhfPhPpml-1xJpt1GTvp5AdI-3rsNQ5GLy8rE/edit?usp=sharing">
                            Lịch
                        </a>
                    </td>
                    <td>
                        <a class="btn-warning" href="https://meet.google.com/bos-hdph-cqj">Link</a>
                    </td>
                </tr>
                <tr>
                    <td>@DateTime.Now </td>
                    <td>18DTHT1</td>
                    <td>
                        <a class="btn-info" href="https://docs.google.com/document/d/1Lbpfn9EhfPhPpml-1xJpt1GTvp5AdI-3rsNQ5GLy8rE/edit?usp=sharing">
                            Lịch
                        </a>
                    </td>
                    <td>
                        <a class="btn-warning" href="https://meet.google.com/bos-hdph-cqj">Link</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

