
@{
    ViewBag.Title = "QuanlyLopHoc";
    Layout = "~/Views/Shared/_Layout teacher.cshtml";
}


<div class="container">
    <div class="row">
        <div>
            <table class="table">
                <tr>
                    <th class="col-4">Cấp độ</th>
                    <th class="col-4">Kĩ Năng</th>
                    <th class="col-4">Nội dung</th>
                </tr>
                <tr>
                    <td>TOEIC 300-400</td>
                    <td>Reading <br /> Writting</td>
                    <td>
                        <a class="btn btn-primary" href="https://docs.google.com/document/d/1Lbpfn9EhfPhPpml-1xJpt1GTvp5AdI-3rsNQ5GLy8rE/edit?usp=sharing">
                            File
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>TOEIC 500-650</td>
                    <td>Reading <br /> Writting</td>
                    <td>
                        <a class="btn btn-primary" href="https://docs.google.com/document/d/1Lbpfn9EhfPhPpml-1xJpt1GTvp5AdI-3rsNQ5GLy8rE/edit?usp=sharing">
                            File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>IETLS 5.5-6.0</td>
                    <td>Reading <br /> Writting <br />Listening <br />Speaking</td>
                    <td>
                        <a class="btn btn-primary" href="https://docs.google.com/document/d/1Lbpfn9EhfPhPpml-1xJpt1GTvp5AdI-3rsNQ5GLy8rE/edit?usp=sharing">
                            File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>TOEIC 6.5-7.0</td>
                    <td>Reading <br /> Writting <br />Listening <br />Speaking</td>
                    <td>
                        <a class="btn btn-primary" href="https://docs.google.com/document/d/1Lbpfn9EhfPhPpml-1xJpt1GTvp5AdI-3rsNQ5GLy8rE/edit?usp=sharing">
                            File
                        </a>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

